.form{
    margin-left: 40px;
    background-color: rgba(0,0,0,0.1);
    width: 320px;
    margin-bottom: 20px;
}

.title{
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.32;
    font-style: normal;
}