.description{
    padding: 40px 0;
    line-height: 1.02;
    color: rgba(0, 0, 0, 0.5);
}

.avatar{
    display: inline-block;
    max-width: 200px;
    width:50%;
    height:auto;
    border-radius: 50%;
}

.name{
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}